@model MessageListVM

<environment exclude="Testing">

    @await Html.PartialAsync("_FilterSection", new FilterSectionVM {
        Page = Model.Page,
        ControllerName = "Support",
        ActionName = "MessageList"
    })

    @foreach (var message in Model.Messages) {

        <div class="bg-light m-3 p-2 w-25">
            <div>@Localizer["TextLabel"]: @message.Text</div>
            <div>@Localizer["EmailLabel"]: @message.Email</div>
            <div>@Localizer["CreatedOnLabel"]: @message.CreatedOn</div>
        </div>
    }

</environment>

<environment include="Testing">

    <div name="AllMessagesCount">@Model.Page.Count</div>

    @foreach (var message in Model.Messages) {

        <div name="Email">@message.Email</div>
        <div name="Text">@message.Text</div>
        <div name="CreatedOn">@message.CreatedOn</div>
    }

</environment>