@model OpinionIndexVM

<environment exclude="Testing">

    @if (Model.IsProductToOpineWaiting) {

        <a asp-controller="Opinion" asp-action="Create" class="btn btn-outline-success m-3">Produkty czekają na Twoją opinię</a>
    }

    @foreach (var opinion in Model.Opinions) {

        <div class="bg-light m-3 p-2" style="width:700px;">
            <div>@opinion.ProductName (zakupiono: @opinion.BuyingDate)</div>
            <div>Ocena: @opinion.Stars</div>

            @if (opinion.Text == null) {


                <div><i>(brak opinii)</i></div>
            }
            else {

                <div>@opinion.Text</div>
            }
        </div>
    }

</environment>

<environment include="Testing">

    <div name="IsProductToOpineWaiting">@Model.IsProductToOpineWaiting</div>

    @foreach (var opinion in Model.Opinions) {

        <div name="ProductName">@opinion.ProductName</div>
        <div name="BuyingDate">@opinion.BuyingDate</div>
        <div name="Stars">@opinion.Stars</div>
        <div name="Text">@opinion.Text</div>
    }

</environment>