@{

    var request = ViewContext.HttpContext.Request;

    var pathAndQuery = request.QueryString.HasValue
        ? $"{request.Path}{request.QueryString}"
        : request.Path.ToString();

    var returnUrl = pathAndQuery.Contains("returnUrl")
        ? ViewData["returnUrl"]
        : pathAndQuery;
}

<div class="m-2 mx-4 text-end">

    @if (User.IsInRole("Admin")) {

        @if (User.IsInRole("Owner")) {

            <a asp-controller="Owner" asp-action="Index" class="btn btn-outline-success m-2">Owner</a>
        }

        <a asp-controller="Admin" asp-action="Index" class="btn btn-outline-success m-2">Admin</a>
    }

    @if (User.Identity.IsAuthenticated) {

        <a asp-action="Index" asp-controller="Basket" class="btn btn-primary mx-2 p-1" style="height:38px;width:55px;">
            <img src="~/images/basket.png" alt="basket" style="height:28px;width:30px;" />
        </a>

        <a asp-controller="Account" asp-action="Index" class="btn btn-outline-primary m-2">Account</a>

        <a asp-action="Logout" asp-controller="Account" asp-route-returnUrl="@pathAndQuery" class="btn btn-primary">
            Sign out
        </a>
    }
    else {

        <a asp-action="Register" asp-controller="Account" asp-route-returnUrl="@returnUrl"
           class="btn btn-primary @(ViewContext.RouteData.Values["Action"].ToString() == "Register" ? "disabled" : "")">

            Register
        </a>

        <a asp-action="Login" asp-controller="Account" asp-route-returnUrl="@returnUrl"
           class="btn btn-primary @(ViewContext.RouteData.Values["Action"].ToString() == "Login" ? "disabled" : "")">

            Login
        </a>
    }

</div>
