@model OrderDetails

<environment exclude="Testing">

    <ul class="list-unstyled">

        @foreach (var purchase in Model.Purchases) {

            <li class="bg-info w-25 m-2">
                <span>@purchase.ProductName</span>
                <span> -- </span>
                <span class="quantity">@purchase.Quantity</span>
                <span> -- </span>
                <span class="cost">@(purchase.Quantity * purchase.ProductPrice)</span>
            </li>
        }

    </ul>

    @{
        var costSummary = 0M;

        foreach (var purchase in Model.Purchases) {

            costSummary += purchase.ProductPrice * purchase.Quantity;
        }
    }

    <div class="bg-success text-light w-25 m-2 p-1">
        <span>@Localizer["CostSummaryLabel"]: </span>
        <span id="costSummary">@costSummary</span>
    </div>

    <div class="bg-info w-25 m-2">
        <div>@Model.Address</div>
        <div>@Model.PostalCode</div>
        <div>@Model.City</div>
    </div>
    <div class="bg-info w-25 m-2">@Localizer["CreationDateLabel"]: @Model.CreatedOn</div>

</environment>

<environment include="Testing">

    <div name="Id">@Model.Id</div>
    <div name="Address">@Model.Address</div>
    <div name="PostalCode">@Model.PostalCode</div>
    <div name="City">@Model.City</div>
    <div name="CreatedOn">@Model.CreatedOn</div>

    @foreach (var purchase in Model.Purchases) {

        <div name="ProductId">@purchase.ProductId</div>
        <div name="ProductName">@purchase.ProductName</div>
        <div name="ProductPrice">@purchase.ProductPrice</div>
        <div name="Quantity">@purchase.Quantity</div>
    }

</environment>