@model HiddenOpinionsVM

<environment exclude="Testing">

    @await Html.PartialAsync("_FilterSection", new FilterSectionVM {
        Page = Model.Page,
        ControllerName = "Admin",
        ActionName = "HiddenOpinions"
    })

    @foreach (var opinion in Model.HiddenOpinions) {

        <div class="bg-light m-2 p-2">
            <div>@Localizer["ProductNameLabel"]: @opinion.ProductName</div>
            <div>@Localizer["OpinionTextLabel"]: @opinion.Text</div>
            <form asp-controller="Opinion" asp-action="Show" asp-route-id="@opinion.Id">
                <button type="submit" class="btn btn-warning my-2">@Localizer["RestoreButtonText"]</button>
            </form>
        </div>
    }

</environment>

<environment include="Testing">

    <div name="AllHiddenOpinionsCount">@Model.Page.Count</div>

    @foreach (var opinion in Model.HiddenOpinions) {

        <div name="Id">@opinion.Id</div>
        <div name="ProductName">@opinion.ProductName</div>
        <div name="Text">@opinion.Text</div>
    }

</environment>