@model OrdersVM

<environment exclude="Testing">

    <ul class="list-unstyled my-4">

        @foreach (var order in Model.OrderDetails) {

            <li class="my-2 mx-5 p-2 bg-light">

                <div>@Localizer["IdLabel"]: @order.Id</div>
                <div>@Localizer["CreationDateLabel"]: @order.CreatedOn</div>
                <div>@Localizer["UserEmailLabel"]: @Model.UserEmails[order.UserId]</div>
                <div>
                    <span>@Localizer["AddressLabel"]:</span>
                    <span>@order.Address</span>
                    <span>@order.City</span>
                    <span>@order.PostalCode</span>
                </div>
                <div>
                    @Localizer["ProductListHeader"]:
                    <ul>
                        @foreach (var purchase in order.Purchases) {

                            <li>
                                <span>@purchase.ProductName</span>
                                <span>(@Localizer["QuantityLabel"]:</span>
                                <span>@purchase.Quantity)</span>
                            </li>
                        }
                    </ul>
                </div>
                <div>@Localizer["ToPayLabel"]: @order.ToPay</div>

            </li>
        }

    </ul>

</environment>

<environment include="Testing">

    @foreach (var order in Model.OrderDetails) {

        <div name="OrderId">@order.Id</div>
        <div name="UserId">@order.UserId</div>
        <div name="UserEmail">@Model.UserEmails[order.UserId]</div>
        <div name="Street">@order.Address</div>
        <div name="PostalCode">@order.PostalCode</div>
        <div name="City">@order.City</div>
        <div name="CreatedOn">@order.CreatedOn</div>

        @foreach (var purchase in order.Purchases) {

            <div name="ProductId">@purchase.ProductId</div>
            <div name="ProductName">@purchase.ProductName</div>
            <div name="ProductPrice">@purchase.ProductPrice</div>
            <div name="Quantity">@purchase.Quantity</div>
        }
    }

</environment>