@model IEnumerable<BasketProductDetails>

<environment exclude="Testing">

    <ul class="list-unstyled">

        @foreach (var basketProductDetails in Model) {

            <li class="bg-info w-25 m-2">

                <span>@basketProductDetails.ProductName</span>
                <span> -- </span>
                <span>@basketProductDetails.Quantity</span>
                <span> -- </span>
                <span>@(basketProductDetails.Quantity * basketProductDetails.ProductPrice)</span>
                <form method="post" asp-controller="Basket" asp-action="Remove" class="d-inline-block mx-3">
                    <input hidden name="ProductId" value="@basketProductDetails.ProductId" />
                    <button type="submit" class="btn btn-danger m-1 pt-1">
                        <img src="~/images/trashcan.png" alt="trashcan" style="width:28px;height:28px;" />
                    </button>
                </form>

            </li>
        }

    </ul>

</environment>

<environment include="Testing">

    @foreach (var basketProductDetails in Model) {

        <div name="ProductId">@basketProductDetails.ProductId</div>
        <div name="ProductName">@basketProductDetails.ProductName</div>
        <div name="ProductPrice">@basketProductDetails.ProductPrice</div>
        <div name="Quantity">@basketProductDetails.Quantity</div>
    }

</environment>